@charset "UTF-8";
/* Les variables */
/* Les fonctions */
/* à effacer */
/* @import "./vendors/"; */
/* les fondations, les normes */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
.bloc-page {
  margin: unset;
  width: auto;
}

body {
  margin: 0px;
}

body {
  font-family: "Roboto", sans-serif;
}

h3, h4, h5, h6 {
  margin: 0em;
  font-size: 1em;
  font-weight: normal;
}

h1 {
  font-size: 1.5em;
  font-weight: 800;
  line-height: 1.2em;
  margin: 0px 0px 29px 0px;
}
h1 span {
  display: inline-block;
  font-size: 0.7em;
  font-weight: 300;
  line-height: 1.2em;
  margin-top: 12px;
}

h2 {
  font-size: 1.5em;
  font-weight: 800;
  margin: 0em;
}

.logo {
  color: black;
  font-family: "Shrikhand", cursive;
  font-size: 2em;
}
.logo p {
  margin: 0px;
}

.presentation__button {
  background: #9356dc;
  background: linear-gradient(353deg, #9356dc 0%, #ff79da 80%);
  border: 0px;
  border-radius: 25px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 400;
  height: 50px;
  padding: 0em 1.5em 0em 1.5em;
}

.banner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #eaeaea;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-10%, rgba(0, 0, 0, 0.384)), color-stop(10%, #eaeaea));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.384) -10%, #eaeaea 10%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.banner__town {
  font-size: 1em;
  font-weight: 500;
  margin-left: 1em;
}

/* les conteneurs */
/* les formulaires */
.functioning {
  background-color: white;
  height: 440px;
  padding: 46px 20px 0px 32px;
}
.functioning h2 {
  margin-bottom: 24px;
}
.functioning__icons {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  left: -12px;
  position: absolute;
  top: 24px;
  width: 59px;
}
.functioning__icons i {
  color: #7e7e7e;
  font-size: 1.3em;
}
.functioning__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #9356dc;
  border-radius: 12px;
  color: white;
  font-size: 0.9em;
  height: 24px;
  width: 24px;
}
.functioning__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f6f6f6;
  border-radius: 18px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 73px;
  margin-bottom: 25px;
  position: relative;
}
.functioning__step--coloured {
  background-color: white;
}
.functioning__step h3 {
  font-size: 1em;
  font-weight: 500;
  margin: 0px;
  position: relative;
}

header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 63px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Le nav */
.presentation {
  background-color: #f6f6f6;
  height: 248px;
  padding: 39px 43px 0px 43px;
  text-align: center;
}

/* exemple de page */
/* exemple de page */
/* exemple de page */
/* @import "./themes/"; */
/*# sourceMappingURL=style.css.map */