.banner {
    align-items: center;
    background: $color-banner;
    background: linear-gradient(180deg,rgba(0, 0, 0, 0.384) -10%, $color-banner 10%); // here lies 2 hours of research and trial and error.
    display: flex;          
    flex-direction: column; 
    height: 50px;
    justify-content: center;
    &__town {
        font-size: 1em;
        font-weight: 500;
        margin-left: 1em;
    }
}
