.functioning {
    background-color: $color-functioning;
    height: 440px;
    padding: 46px $Layout-padding 0px ($Layout-padding + 12px);

    @include tablet-only {
        padding: 46px $Layout-padding*2 0px ($Layout-padding*2 + 12px);
    }

    & h2 {
        margin-bottom: 24px;
    }

    &__icons {
        align-items: center;
        display: flex;
        justify-content: space-between;
        left: -12px;
        position: absolute;
        top: 24px;
        width: 20%;
    }

    &__number {
        @include center;
        background-color: $colour-primary;
        border-radius: 12px;
        color: $color-functioning-number;
        font-size: 0.9em;
        height: 24px;
        width: 24px;
    }

    &__step {
        @include center;
        background-color: $color-functioning-step;
        border-radius: 18px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        height: 73px;
        margin-bottom: 25px;
        position: relative;

        &--coloured {
            background-color: $color-functioning-step-coloured;
        }

        & h3 {
            font-size: 1em;
            font-weight: 500;
            margin: 0px;
            position: relative;

            @include tablet-only {
                font-size: 1.2em;
            }
        }
    }
}

.coloured {
    background-color: $color-functioning-step-coloured;
}