header {
    align-items: center;
    background-color: $color-background;
    display: flex;          
    height: 63px;
    justify-content: center;
    position: relative;
    & a {
        display: block;
        left: 6%;
        position: absolute;
    }
}
