.recipes {
    background-color: $color-presentation;
    margin-bottom: 34px;
    padding: 0px 14px 0px 14px;
    position: relative;
    top: -8px;
    & h2 {
        font-size: 1em;
        font-weight: 400;
        margin: 0px 0px 5px 6px;
    }
    &__underline {
        background-color: $colour-tertiary;
        height: 3px;
        margin: 0px 0px 14px 6px;
        width: 40px;
    }
    
    &__card {
        background-color: $color-background;
        border-radius: 15px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        cursor: pointer;
        display:flex;
        height: 68px;
        margin-bottom: 14px;
        overflow: hidden;
        position: relative;
        padding-left: 11px;
        &:hover > {
            .recipes__check {
                transform: translateX(-59px);
            }
            .recipes__check img {
                transform: rotate(360deg);
            }
            .recipes__text {
                width: 65%;
            }
        }
    }
    &__text {
        margin-top: 12px;
        width: 75%;
        transition: width 350ms 50ms ease-out;
        & h3 {
            font-size: 1.125em;
            margin-bottom: 4px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        & p{
            font-size: 0.875em;
            font-weight: 400;
            margin: 0px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

    }
    &__price {
        align-items: flex-end;
        display: flex;
        justify-content: center;
        width: 17%;
        & p {
            font-size: 1em;
            font-weight: 600;
            margin: 0px 0px 11px 0px;
        }
    }
    &__check {
        @include center;
        background-color: $colour-tertiary;
        height: 100%;
        position: absolute;
        left: 100%;
        width: 59px;
        transition: transform 400ms ease-out;
        img {
            transition: transform 400ms ease-out;
        }
    }
}