.restaurants {
    background-color: $color-restaurants;
    height: 1226px;
    padding: 53px $Layout-padding 0px $Layout-padding;

    @include tablet-only {
        padding: 53px $Layout-padding*2 0px $Layout-padding*2;
    }

    @include laptop-l-only {
        height: auto;
        padding: 53px 0px 0px 0px;
    }

    & h2 {
        margin-bottom: 27px;
        @include laptop-l-only {
            text-align: center;
        }
    }

    &__card {
        border-radius: 15px 15px 15px 15px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        cursor: pointer;
        margin-bottom: 18px;
        position: relative;

        @include laptop-l-only {
            width: 500px;
        }
    }

    &__photo {
        border-radius: 15px 15px 0px 0px;
        height:174px;
        overflow: hidden;
        width:auto;
        & img {
            height: 100%;
            object-fit: cover;
            width: 100%;
        }
    }

    &__name {
        background-color: $color-restaurants-name;
        border-radius: 0px 0px 15px 15px;
        display: flex;
        height: 61px;
        justify-content: space-between;
        padding: 16px 0px 0px 13px;
        & p {
            font-size: 1.05em;
            margin: 4px 0px 0px 0px;
        }
    }

    &__rail {
        display: flex;
        justify-content: flex-end;
        left: 0px;
        position: absolute;
        top: 13px;
        width: 100%;
        z-index: 1;
    }
    
    &__new {
        background-color: $colour-tertiary;
        color: $color-restaurants-new;
        font-size: 0.9em;
        font-weight: 500;
        margin-right: 13px;
        padding: 6px 12px 5px 12px;
        z-index: 1;
    }
}