/* Les variables */

$colour-primary: #9356dc;
$colour-secondary: #ff79da;
$colour-tertiary: #99e2d0;

$color-logo: black;
$color-banner: #eaeaea;

$color-presentation: #f6f6f6;
$color-button: white;

$color-functioning : white;
$color-functioning-number : white;
$color-functioning-step : $color-presentation;
$color-functioning-step-coloured : lighten($colour-primary,94.8%);
$color-functioning-icon : #7e7e7e;