/* Les variables */

$colour-primary: #9356dc;
$colour-secondary: #ff79da;
$colour-tertiary: #99e2d0;

$color-background: white;
$color-background-menu:#f6f6f6;

$color-logo: black;
$color-banner: #eaeaea;

$color-presentation: $color-background-menu;
$color-button: $color-background;

$color-functioning: $color-background;
$color-functioning-number: $color-background;
$color-functioning-step: $color-background-menu;
$color-functioning-step-coloured: #f5edff; //lighten($colour-primary,94.8%);
$color-functioning-icon: #7e7e7e;

$color-restaurants: $color-background-menu;
$color-restaurants-name: $color-background;
$color-restaurants-new: darken($colour-tertiary, 36%);

$color-footer: #353535;
$color-footer-font: $color-background;