/* les fondations, les normes */

.bloc-page {
    margin:unset;
    width: auto;

    @include desktop-only {
        border-left: 1px solid black;
        border-right: 1px solid black;
        margin:auto;
        width: 1440px;
    }
}

body {
    background-color: $color-background;
    margin: 0px;
}